table {
  border: 2px #000000 solid;
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

table th {
  border: 1px #000000 solid;
  width: 30%;
}

table th[colspan="2"] {
  padding: 0.75em;
  border: 2px solid #000000;
  background-color: #EEEEEE;
}

table td {
  border: 1px #000000 solid;
  padding: 0.5em;
}

table caption {
  font-size: 1.5em;
  border-width: 2px;
  border-color: #000000;
  border-style: solid solid none solid;
  background-color: #BBBBBB;
  padding: 0.75em;
}

table td[unverified] {
  color: #880000;
  /* text-decoration: #880000 wavy; */
  text-decoration: underline wavy #880000 0.5px;
}